/* ======= INITIALISATION DE LA PAGE ============*/
* {
  margin: 0;
  /* padding: 0; */
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
/* nav{
  margin-bottom: 50px;
  position: fixed;
} */
#logo{
  display: block;
  margin: auto;
  /* margin-top: 10px; */
  margin-bottom: 10px;

}
.menu{
padding-left: 50px;
}
h1{
  font-family: Arial, Helvetica, sans-serif;
}
h2{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
