/* ======= INITIALISATION DE LA PAGE ============*/
* {
  margin: 0;
  /* padding: 0; */
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

  nav {
      position: fixed;      /* Le menu reste visible */
      top: 0;
      left: 0;
      width: 100%;          /* Prend toute la largeur */
      background: white;    /* Fond opaque */
      z-index: 1000;        /* Passe au-dessus du contenu */
      padding: 10px 20px;
  }

  main{
      margin-top: 100px;
      padding: 20px;
      padding-top: 50px;

  }



  #logo{
    display: block;
    margin: auto;
    /* margin-top: 10px; */
    margin-bottom: 10px;

  }
  .menu{
  padding-left: 50px;
  }
  h1{
    font-family: Arial, Helvetica, sans-serif;
  }
  h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-top: 20px;
  }
